.contactsMain {
  color: #5f6367;
  font-size: 15px;
}

.tableTitle {
  display: flex;
  width: 97%;
  padding: 25px 0px 20px 30px;
  border-bottom: 1px solid #dddddd;
  margin: 0 1.5%;
  font-weight: 600;
  div {
    &:nth-child(1) {
      padding-right: 40%;
    }
    &:nth-child(2) {
      padding-right: 23%;
    }
    &:nth-child(3) {
      padding-right: 18%;
    }
  }
}

.tableMain {
  padding: 20px 2%;
}

.contactsCount {
  font-size: 13px;
  margin-bottom: 20px;
}

.contactItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contactIcon {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  margin-right: 20px;
}

.contactName {
}
